<% provide(:title, "Edit Question") %>
<h1>Editing question</h1>

<%= render 'form' %>

<%= link_to 'Show', @question, class: "btn btn-primary" %>
<%= link_to 'Back', question_path, class: "btn btn-default" %>
