body {
  background-color: #fff;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #000;
  padding: 10px;
  font-size: 11px;
}

/*a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #000;
    background-color: #000;
  }
}*/

/*div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}*/

#notice {
  color: green;
}

.field_with_errors {
  @extend .has-error;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



